*{
  box-sizing: border-box;
}

.box{
  color: white;
  font-size: 100px;
  text-align: center;
  text-shadow: 4px 4px 0 rgba(0,0,0,0.1);
  padding: 10px;
}

.box1{background: green;}
.box2{background: blue;}
.box3{background: purple;}
.box4{background: darkgray;}
.box5{background: yellow;}
.box6{background: orange;}
.box7{background: red;}
.box8{background: lightgray;}
.box9{background: cyan;}
.box10{background: teal;}

.app-container{
  display: flex;
  height: 100vh;
  /*flex-direction: column;*/
  flex-wrap: wrap;
}

.box{
  width: 300px;
}
